body {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  color: #fff;
  background-color: #1f2836;
}

h1 {
  color: rgb(2, 165, 29);
}

input {
  outline: unset;
  font-size: x-large;
  padding: 5px;
  border-radius: 5px;
  font-style: italic;
  font-weight: 100;
  color: #4d4d50;
  border: 3px solid rgb(2, 165, 29);
  outline: 1px solid #fff;
}
.btn {
  font-size: x-large;
  font-weight: 600;
  padding: 10px 30px;
  border-radius: 5px;
  font-style: italic;
  border: unset;
  border-radius: 2rem;
  outline: 1px solid #fff;
  color: #fff;
  background-color: rgb(2, 165, 29);
}
.input-search-button {
  display: flex;
  gap: 15px;
}
.output {
  position: relative;
  display: none;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 20px;
  gap: 20px;
  border: 1px solid rgb(2, 165, 29);
  border-radius: 10px;
}
.temp-output-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 120px 20px;
  background-color: aliceblue;
  border-radius: 10px;
  color: #1f2836;
  font-size: large;
  font-weight: 600;
  gap: 10px;
}

.logo-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgb(2, 165, 29);
  font-size: x-large;
  font-weight: 500;
}
.logo-title {
  text-align: center;
  width: 200px;
}
.logo-image {
  width: 200px;
  height: auto;
}

.date-time {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2px;
  color: #fff;
}
.date {
  font-size: 20px;
  font-weight: 500;
}
.time {
  font-size: 50px;
  font-weight: 800;
}
.error-msg {
  display: none;
  text-align: center;
  color: red;
  font-size: xx-large;
  font-weight: 700;
}
